{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if request.user.id == newsstory.author_id %}   

    <h1>Delete Story...</h1>
    <br></br>
    <h3>Delete: {{ story.title }}</h3>

    <div>
    <form method="post">
        {% csrf_token %}
        <strong>Are you sure?!</strong>
        <button type="submit">Delete Story</button>
    </form>
    </div>
    {% else %}
    <p>You're not allowed here!</p>
    {% endif %}
    
{% else %}

<p>You're not allowed here!</p>

{% endif %}

{% endblock %}