{% extends "base.html" %}
{% load static %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <a href="{% url 'news:authorStories' story.author %}">
    <h4>{{ story.author }}</h4>
    </a>

    <div id="story-content">
        {% if story.image %}
            <img src="{{ story.image }}">
        {% else  %}
            <img src="https://picsum.photos/600">
        {% endif %}
        {{ story.content|linebreaks }}
    </div> 
    <br></br>
    {% if request.user.is_authenticated %}
        {% if user.id == story.author.id %}   
            <a href="{% url 'news:updateStory' story.id %}">Edit</a>
            <br></br>
            <a href="{% url 'news:deleteStory' story.id %}">Delete</a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}